@font-face {
  font-family: "helvetica";
  src: url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf")
      format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf")
      format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf")
      format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans", sans-serif;
}
main{
  overflow-x: hidden;
  position: relative;
}
